.header {
    align-items: center;
}
.header-about {
    position: absolute;
    width: 74px;
    height: 34px;
    left: 743px;
    top: 38px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23.9672px;
    line-height: 140%;
    /* identical to box height, or 34px */
    
    
    color: #FFFFFF;
    text-decoration: none;
}
.header-shop {
    position: absolute;
    width: 62px;
    height: 34px;
    left: 886.24px;
    top: 38px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23.9672px;
    line-height: 140%;
    /* identical to box height, or 34px */
    
    
    color: #FFFFFF;
    text-decoration: none;
}
.header-contact {
    position: absolute;
    width: 99px;
    height: 34px;
    left: 1017.48px;
    top: 38px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23.9672px;
    line-height: 140%;
    /* identical to box height, or 34px */
    
    
    color: #FFFFFF;
    text-decoration: none;
}

.header-img {
    z-index: -1;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
}

.header-search {
    position: absolute;
    left: 86.55%;
    right: 11.79%;
    top: 38px;
    bottom: 99.36%;
}
.header-bag {
    top: 38px;
    position: absolute;
    left: 89.6%;
    right: 8.74%;
    bottom: 99.36%;
}
.header-user {
    top: 38px;
    position: absolute;
    left: 92.65%;
    right: 5.68%;

    bottom: 99.36%;
}

.header-hr {
    position: absolute;
    width: 1912.05px;
    height: 0px;
    left: 2.66px;
    top: 106.52px;
    
    border: 1.33151px solid #FFFFFF;
}

.header-p {
    position: absolute;
    width: 1026px;
    height: 44px;
    left: 447px;
    top: 420px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 29.2932px;
    line-height: 44px;
    /* identical to box height, or 150% */
    
    
    color: #FFFFFF;
}
.header-h1 {
    position: absolute;
    width: 967.79px;
    height: 224px;
    left: 476px;
    top: 326px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 140%;
    /* or 280px */
    
    
    color: #FFFFFF;
}
.header-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16.1173px 42.9794px;
    gap: 13.43px;
    
    position: absolute;
    width: 210.96px;
    height: 77.23px;
    left: 858px;
    top: 701px;
    color: #FFFFFF;
    background: #EB4C56;
    border: #EB4C56;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21.4897px;
    line-height: 44px;
}